<div class="row" id="buscar">
    <div class="col-md-6">
        <div class="form-horizontal">
            <input class="form-control form-horizontal" id="inputBusca" name="inputBusca" type="text" value="@ViewBag.Busca">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-horizontal">
            <input type="submit" value="Buscar" class="btn btn-default" />
        </div>
    </div>
</div>

<br />